{{!< default}}

{{#page}}
{{> header}}
<main class="post-default">
  {{#if @page.show_title_and_feature_image}}
  <div class="post-header">
    <div class="post-kicker">PAGE</div>
    <h1 class="post-title">{{title}}</h1>
    {{#if feature_image}}
    <img src="{{feature_image}}" alt="{{title}}" style="width:100%;margin:24px 0;opacity:.8;">
    {{/if}}
  </div>
  <div class="post-divider"></div>
  {{/if}}
  <section class="post-content">
    {{content}}
  </section>
  <div class="post-back">
    <a href="/">← 返回展览大厅</a>
  </div>
</main>
{{> footer}}
{{/page}}
